name: Terraform-EKS-CICD

on:
  pull_request:
    branches: [ "main" ]

  push:
    branches: [ "main" ]

env:
  TF_CLOUD_ORGANIZATION: poc_check1 
  TF_WORKSPACE: eks-prod

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
              cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
              
      - name: Debug Terraform token
        run: | 
            echo "TF_API_TOKEN length: ${#TF_API_TOKEN}"
            echo "TF_TOKEN_app_terraform_io length: ${#TF_TOKEN_app_terraform_io}"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply (only on main push)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
