name: Terraform-EKS-Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm infra deletion"
        required: true

env:
  TF_CLOUD_ORGANIZATION: poc_check1
  TF_WORKSPACE: eks-prod

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Safety check
        run: |
          if [ "${{ github.event.inputs.confirm }}" != "DESTROY" ]; then
            echo "Confirmation missing. Aborting."
            exit 1
          fi

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
